/*
  Theme Name: FairBizz - Multipurpose Business & Corporate HTML5 Template
  Author: basictheme
  Support: basictheme400@gmail.com
  Description: Multipurpose Business & Corporate HTML5 Template.
  Version: 1.0
*/

/* CSS Index
-----------------------------------
1. Theme default css
2. Header
3. Slider
4. Features
5. Counter
6. Service
7. Video
8. Portfolio
9. Cases
10. Testimonial
11. Faq area
12. Blog
13. Pagination
14. CTA
15. Team
16. call-back area
17. Company-history
18. Contact-area
19. Footer
*/



/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Open+Sans:400,600,700');
 body {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #777;
	font-size: 14px;
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
.button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	color: #007bff;
	text-decoration: none;
}
a,
button {
	color: #1696e7;
	outline: medium none;
}
button{cursor: pointer;}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	color: #202020;
	margin-top: 0px;
	font-style: normal;
	font-weight: 400;
	text-transform: normal;
	line-height: 1.2;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
	font-weight: 500;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 14px;
	font-weight: normal;
	line-height: 28px;
	color: #777;
	margin-bottom: 15px;
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-moz-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
.separator {
	border-top: 1px solid #f2f2f2
}
/* button style */

.btn {
	-moz-user-select: none;
	background: #007bff;
	border: medium none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: 800;
	letter-spacing: 0;
	line-height: 1;
	margin-bottom: 0;
	padding: 18px 40px;
	text-align: center;
	text-transform: uppercase;
	touch-action: manipulation;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	white-space: nowrap;
}
.btn:hover{
	background: #08237e;
	color: #fff;
}
.btn-round {
	background: #08237e;
	color: #fff;
	font-weight: 700;
	padding: 17px 32px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	border-radius: 30px;
}
.btn-primary {
	background: #08237e;
	color: #fff;
	font-weight: 700;
	padding: 17px 35px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	border-radius: 0;
}
.btn-primary:hover{
	background:#fff;
	color:#000;
}


/* 2. Header */
.welcome-message span {
   font-family: 'Montserrat', sans-serif;
}
.welcome-message span a {
	color: #08237e;
}
.header-social-icon{}
.header-social-icon a {
	color: #959595;
	font-size: 14px;
	margin-left: 18px;
}
.header-social-icon a:hover{color: #202020}
.social-border{
	border-left: 1px solid #d1d1d1;
}
/* cta */
.single-cta {
  float: right;
  margin-left: 90px;
}
.single-cta h3 {
  color: #007bff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 3px;
}
.single-cta {
}
.single-cta h3 i {
  margin-right: 3px;
}
.cta-img img {
	width: 100%;
}
/* main menu */
.main-menu ul li {
  display: inline-block;
  margin-right: 40px;
  position: relative;
}
.main-menu ul li a {
  color: #fff;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  padding: 30px 0;
  line-height: 1;
}
.main-menu ul li:hover > a{
	opacity: .7;
}
/* index-2 */
.main-menu ul.home-two > li a {
	color: #333333;
	position: relative;
	font-size: 14px;
	font-weight: 600;
}
.main-menu ul.home-two> li:hover > a{
	color: #007bff;
}
.main-menu ul.home-two> li ul.submenu{
	background-color: #007bff;
}
.main-menu ul.home-two> li ul.submenu li a{
	color: #fff;
}
.main-menu ul.home-two> li ul.submenu li:hover> a{
	color: #fff;
}

/* submenu */
.main-menu ul li ul.submenu {
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	width: 200px;
	transition: .3s;
	opacity: 0;
	visibility: hidden;
	z-index: 9;
	text-align: left;
}
.main-menu ul li:hover ul.submenu{
	opacity: 1;
	visibility: visible;
}
.main-menu ul li ul.submenu li {
	display: block;
	margin: 0;
	border-bottom: 1px solid #f2f2;
}
.main-menu ul li ul.submenu li:last-child {
	border:0;
}
.main-menu ul li ul.submenu li a {
	padding: 15px 20px;
	color: #444;
	font-weight: 500;
	text-transform: capitalize;
	font-size: 15px;
}
.main-menu ul li ul.submenu li:hover > a {
	color: #007BFF;
}
.main-menu ul li ul.submenu li .submenu {
	left: 100%;
	top: 0;
	opacity: 0;
	visibility: hidden;
}
.main-menu ul li ul.submenu li:hover > ul.submenu{
	opacity: 1;
	visibility: visible;
}
.quote-btn {
	margin-top: 12px;
	text-align: right;
}
.menu-area {
	margin-bottom: -74px;
	position: relative;
	z-index: 99;
}
.menu-icon .menu-tigger span {
	height: 2px;
	width: 22px;
	background: #000;
	display: block;
	margin-bottom: 5px;
	transition: .3s;
}
.menu-icon{
	cursor: pointer;
}
.menu-icon:hover span{
	background: #007BFF;
}
.menu-icon .menu-tigger span:last-child{
	margin: 0;
}
.menu-icon .menu-tigger span:nth-child(2){
	width: 18px;
}
.mobile-menu-two.mean-container  a.meanmenu-reveal {
	margin-top: -34px;
}
/* offcanvas-menu */
.offcanvas-menu {
	position: fixed;
	right: 0;
	height: 100%;
	width: 300px;
	z-index: 999;
	background: #00081b;
	top: 0;
	padding: 30px;
	transition: .5s;
	transform: translateX(100%);
}
.offcanvas-menu.active{
	transform: translateX(0)
}
.menu-close i {
	font-size: 18px;
	color: #fff;
	transition: .3s;
	cursor: pointer;
}
.menu-close:hover i{
	color: #007BFF;
}
.offcanvas-menu ul {
	margin-top: 30px;
}
.offcanvas-menu ul li {
	border-bottom: 1px solid #101c38;
}
.offcanvas-menu ul li a {
	color: #fff;
	font-size: 16px;
	text-transform: capitalize;
	padding: 14px 0;
	display: block;
	line-height: 1;
}
.offcanvas-menu ul li:hover a{
	color: #007BFF;
}
.side-social a {
	color: #fff;
	margin-right: 10px;
}
.side-social {
	margin-top: 30px;
}
.side-social a:hover{
	color: #007BFF;
}
.offcanvas-menu form {
	position: relative;
	margin-top: 30px;
}
.offcanvas-menu form input {
	width: 100%;
	background: none;
	border: 1px solid #2d3547;
	padding: 7px 10px;
	color: #fff;
}
.offcanvas-menu form button {
    position: absolute;
    border: none;
    right: 0;
    background: #007BFF;
    padding: 8px 14px;
    top: 0;
}
.offcanvas-menu form button i {
	color: #fff;
}
.offcanvas-overly {
	position: fixed;
	background: #000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}
.offcanvas-overly.active{
	opacity: .5;
	visibility: visible;
}
/* 3. Slider */
.slider-height{
	min-height: 810px;
	background-position: center center;
	background-size: cover;
}
.slider-content{}
.slider-content h2 {
	font-size: 72px;
	color: #fff;
	font-weight: 800;
	margin-bottom: 20px;
	line-height: 1;
}
.slider-content.slider-two h2 {
	font-size: 90px;
	margin-bottom: 25px;
}
.slider-content h2 span{color: #007bff}
.slider-content p {
	color: #ffffff;
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 35px;
}
.slider-content.slider-two p {
	margin-bottom: 40px;
}
.slider-content a{}
.slider-content.slider-two a {
	background: #fff;
	color: #000;
	border-radius: 30px;
}
.slider-content.slider-two a:hover {
	background: #007bff;
	color: #fff;
}

/* slider button next prev */
.slider-active .slick-arrow {
	position: absolute;
	top: 50%;
	background: no-repeat;
	padding: 0;
	border: 0;
	left: 50px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	transform: rotate(90deg);
	z-index: 99;
}
.slider-active .slick-next {
	left: auto;
	right: 50px;
}
.slider-active .slick-arrow i {
	top: 24px;
	position: relative;
	right: -32px;
	transform: rotate(270deg);
	display: inline-block;
}
.slider-active .slick-next i {
	top: -20px;
	position: relative;
	right: -34px;
	transform: rotate(270deg);
	display: inline-block;
}

/* slider dots */
.slider-active .slick-dots li {
  display: inline-block;
}
.slider-active .slick-dots {
  text-align: center;
  position: absolute;
  bottom: 25px;
  right: 0;
  left: 0;
}
.slider-active.second-slider .slick-dots li button {
  text-indent: -9999px;
  padding: 0;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  margin: 0 5px;
  border:1px solid #fff;
  background: none;
}
.slider-active .slick-dots li button {
  text-indent: -9999px;
  padding: 0;
  height: 3px;
  width: 25px;
  border: 0;
  margin: 0 3px;
  background: #fff;
}
.slider-active .slick-dots li.slick-active button {
  background: #007bff;
}
.slider-active.second-slider .slick-dots li.slick-active button {
  background: #ffffff;
}

/* slick default dots */
.dot-style .slick-dots li {
  display: inline-block;
}
.dot-style .slick-dots {
	text-align: center;
	margin-top: 40px;
}
.dot-style .slick-dots li button {
	text-indent: -9999px;
	padding: 0;
	height: 5px;
	width: 20px;
	border: 0;
	margin: 0 3px;
	background: #bfbfbf;
	transition: .3s;
}
.dot-style .slick-dots li.slick-active button {
  background: #007bff;
  width: 35px;
}

/* section title */
.section-title h2 {
	font-size: 48px;
	font-weight: 800;
	display: inline-block;
}
.section-title span {
	background: #007bff;
	height: 3px;
	width: 100px;
	display: inline-block;
}
.section-title h4 {
	font-size: 30px;
	font-weight: 500;
	color: #828282;
}
.section-title p {
	font-size: 18px;
	line-height: 32px;
	margin: 0;
}

/* 4. Features */
.features-description p {
	margin: 0;
	line-height: 30px;
}
.features-box h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}
.features-box img {
  margin-bottom: 25px;
}
.features-box p {
  margin: 0;
}
.single-features-box {
	border: 1px solid #c5c5c5;
	padding: 85px 50px;
	transition: .3s;
}
.single-features-box:hover{
	box-shadow: 0px 27px 70px rgba(0, 0, 0, 0.1);
	border: 1px solid #fff;
}
.single-features-box:hover h2,.single-features-box:hover a {
	color: #007bff;
	text-decoration: none;
}
.single-features-box h2 {
	font-size: 30px;
	line-height: 36px;
	color: #333333;
	font-weight: 600;
	margin-bottom: 43px;
	transition: .3s;
}
.single-features-box p {
	color: #828282;
	margin-bottom: 45px;
}
.single-features-box a {
	color: #333333;
	text-decoration: underline;
	transition: .3s;
}

/* 5. Counter */
.counter-title h3 {
	font-size: 36px;
	line-height: 42px;
	color: #333333;
	font-weight: 600;
	margin: 0;
}
.counter {
	color: #007bff;
	font-size: 60px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	display: block;
}
.single-counter p {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #666666;
	margin: 0;
	line-height: 1;
}

/* 6. Service */

.service-box h4 {
  font-size: 20px;
  font-weight: 700;
}
.service-box img {
  margin-bottom: 25px;
  width: 100%;
}
.service-box p {
  margin: 0;
}
.service-box a {
	color: #666;
	text-decoration: underline;
	display: inline-block;
	margin-top: 20px;
}
.service-box a:hover {
	color: #007bff;
}
.features-box.services-wrap h4 {
	color: #333;
}
.services-sidebar {
	border: 1px solid #e9e9e9;
}
.sidebar-link{}
.sidebar-link h3 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	background: #007bff;
	padding: 20px 30px;
	color: #fff;
	margin: 0;
}
.sidebar-link ul li {
	padding: 15px 30px;
	border-bottom: 1px solid #e9e9e9;
}
.sidebar-link ul li:last-child {
	border-bottom: none;
}
.sidebar-link ul li:hover a {
	color: #007bff;
}
.sidebar-link ul li a {
	font-size: 16px;
	font-weight: 600;
	color: #444444;
}
.sidebar-download {
	padding: 30px;
}
.sidebar-download ul li{
	padding: 15px 30px;
	background: #007bff;
	margin-bottom: 10px;
	transition: .3s;
}
.sidebar-download ul li:last-child {
	margin-bottom: 0px;
}
.sidebar-download ul li:hover{
	background: #08237e;
}
.sidebar-download ul li a {
	font-size: 14px;
	font-weight: 600;
	color: #fff;
}
.sidebar-download ul li a i {
	font-size: 16px;
	margin-right: 10px;
}
.newsletter {
	padding: 40px 30px;
}
.newsletter h3 {
	font-size: 18px;
	font-weight: 700;
	color: #333333;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.newsletter p {
	font-size: 14px;
	font-weight: 600;
	padding-right: 10px;
	margin-bottom: 20px;
}
.newsletter form input {
	width: 100%;
	padding: 14px 20px;
	border: 1px solid #e9e9e9;
	margin-bottom: 20px;
}
.newsletter form button {
	padding: 13px 38px;
}
.services-details img{
	width: 100%;
}
.details-content h2 {
	font-size: 30px;
	font-weight: 700;
	color: #333333;
	margin-bottom: 13px;
}
.details-content p{}
.services-accordion h2 {
	margin-bottom: 20px;
}
.services-accordion .card {
	margin-bottom: 20px;
	border-radius: 0;
}
.services-accordion .card-header {
	padding: 0;
	border-radius: 0;
	background: no-repeat;
}
.services-accordion .card-header h5 a {
	font-size: 18px;
	color: #333333;
	font-weight: 700;
	display: block;
	padding: 20px 30px;
	text-decoration:none;
}
.card-header:first-child {
	border-radius: 0;
}
.services-accordion .card-body {
	background: #f7f7fd;
}
.services-accordion .card-header h5 a::after {
	position: absolute;
	content: "\f068";
	top: 20px;
	right: 20px;
	font-size: 15px;
	font-family: "Font Awesome 5 Free";
	font-weight: 700;
}
.services-accordion .card-header h5 a.collapsed:after{
	content: "\f067";
}

/* 7. Video */
.video-wrapper h4 {
  font-size: 24px;
  color: #ededed;
  margin-bottom: 15px;
}
.video-wrapper h2 {
	color: #fff;
	font-size: 48px;
	font-weight: 800;
	margin-bottom: 35px;
}
.video-popup:hover {
	opacity: .7;
	color: #fff;
}
.video-popup i {
  font-size: 10px;
  border: 1px solid #fff;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 3px;
}

.video-btn a {
  margin: 0 10px;
}

/* 8. Portfolio */
.single-portfolio-item {
	position: relative;
	overflow: hidden;
}
.single-portfolio-item::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	transition: .3s;
}
.single-portfolio-item:hover .portfolio-content{
	opacity: 1;
	left: 0;
}
.single-portfolio-item:hover::before {
	opacity: .7;
}
.portfolio-content {
	position: absolute;
	left: -90px;
	top: 50%;
	right: 0;
	text-align: center;
	transform: translateY(-50%);
	transition: .3s;
	opacity: 0;
}
.portfolio-content h4 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	margin-bottom: 0;
}
.portfolio-content span {
	font-size: 16px;
	color: #fff;
}
.single-portfolio-item img {
	width: 100%;
}
.row.custom-row .col-xl-3 {
	padding: 0 7px;
}
.portfolio-menu button {
	background: none;
	border: none;
	font-size: 18px;
	padding: 0;
	margin: 0 20px;
	color: #333333;
}
.portfolio-menu button.active {
	color: #007bff;
}
.portfolio-second h4 {
	font-size: 20px;
	margin-bottom: 3px;
	text-transform: capitalize;
	font-weight: 600;
}
.portfolio-second span {
	font-size: 14px;
}
.portfolio-second {
	line-height: 1;
}
.portfolio-second button.active {
	color: #000;
	text-decoration: line-through;
}
.portfolio-second button {
	text-transform: uppercase;
}
.third-portfolio-menu button{
	font-weight: 600;
}
/* 9. Cases */

.case-content h3 {
	font-size: 20px;
	color: #333333;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: capitalize;
}
.case-content h3 a:hover,.case-content > a:hover{color:#007bff}
.case-content > a {
  color: #333;
  font-weight: 700;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
}
.case-img {
  margin-bottom: 23px;
}
.case-img img {
	width: 100%;
}
.case-active .slick-arrow {
	position: absolute;
	top: -70px;
	right: 50px;
	background: no-repeat;
	padding: 0;
	border: 0;
	font-size: 27px;
	color: #777777;
}
.case-active .slick-next{right:15px;}
.case-active .slick-arrow:hover{
	color: #007bff;
}
/* cases-details */
.cases-details-wrap{}
.cases-details-wrap img {
	margin-bottom: 52px;
	width: 100%;
}
.cases-details-wrap h2 {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 24px;
	padding-right: 25px;
}
.cases-details-wrap p {
	margin: 0;
}



/* 10. Testimonial */
.single-testimonial p {
	font-size: 30px;
	color: #202020;
	line-height: 1.2;
	font-weight: 600;
	margin-bottom: 20px;
}
.clint-info h5 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 3px;
}
.clint-info {
  padding-left: 15px;
  padding-top: 3px;
}
.clint-info span {
  font-size: 12px;
  font-weight: 600;
}
.testimonial-active{}
.testimonial-active .slick-arrow {
	position: absolute;
	bottom: 30px;
	left: 0;
	background: no-repeat;
	padding: 0;
	border: 0;
	font-size: 27px;
	color: #777777;
	z-index: 1;
}
.testimonial-active-wrap .slick-arrow {
	position: absolute;
	bottom: -70px;
	left: 50%;
	background: no-repeat;
	padding: 0;
	border: 0;
	font-size: 27px;
	color: #777777;
	z-index: 1;
	transform: translateX(-30px);
   }
.testimonial-active .slick-next{left:30px;}
.testimonial-active-wrap .slick-next {
	right: 50%;
	left: auto;
	transform: translateX(30px);
   }
.testimonial-active .slick-arrow:hover{
	color: #007bff;
}
.single-testimonial-wrap p {
	font-size: 24px;
	line-height: 38px;
	color: #202020;
	font-weight: 600;
	margin-bottom: 50px;
}
/* form */
.consultation-form {
	padding: 70px;
	margin-top: -50px;
	margin-bottom: -50px;
}
.consultation-form h3 {
	font-size: 30px;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 20px;
}
.consultation-form input {
	height: 60px;
	width: 100%;
	border: 0;
	margin-bottom: 30px;
	padding: 0 15px;
}
.consultation-form textarea {
	height: 225px;
	width: 100%;
	border: 0;
	margin-bottom: 20px;
	padding: 15px;
}
.consultation-form button {
	padding: 22px 60px;
}
.nice-select {
	-webkit-tap-highlight-color: transparent;
	background-color: #fff;
	border-radius: 0;
	border: 0;
	box-sizing: border-box;
	clear: both;
	cursor: pointer;
	display: block;
	float: left;
	font-family: inherit;
	font-size: 14px;
	font-weight: normal;
	height: 60px;
	line-height: 58px;
	outline: none;
	padding-left: 15px;
	padding-right: 30px;
	position: relative;
	text-align: left !important;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	width: 100%;
	margin-bottom: 30px;
}

.single-brand {
  text-align: center;
}
.single-brand img {
  display: inline-block;
}
/* 11. Faq area */
.faq-thumb img {
	margin-left: -100px;
}
.second-faq-thumb img {
	margin-left: 100px;
}
.faq-wrapper{}
.faq-wrapper .card {
	margin-bottom: 20px;
	border-radius: 0;
}
.faq-wrapper .card-header {
	padding: 0;
	border-radius: 0;
	background: no-repeat;
}
.faq-wrapper .card-header h5{}
.faq-wrapper .card-header h5 a {
	font-size: 18px;
	color: #333333;
	font-weight: 700;
	display: block;
	padding: 20px 30px;
	text-decoration:none;
}
.card-header:first-child {
	border-radius: 0;
}
.faq-wrapper .card-header h5 a::after {
	position: absolute;
	content: "\f068";
	top: 20px;
	right: 20px;
	font-size: 15px;
	font-family: "Font Awesome 5 Free";
	font-weight: 700;
}
.faq-wrapper .card-header h5 a.collapsed:after{
	content: "\f067";
}
.second-faq-title h2 {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 0;
}
.section-margin {
	margin-top: -137px;
}
.second-faq .card-body {
	font-size: 14px;
	line-height: 26px;
	background: #f7f7fd;
}
.faq-area {
	border-bottom: 1px solid #e9e9e9;
}
.pt-250{
	padding-top: 250px;
}
.second-faq-title p {
	font-size: 14px;
	color: #666666;
}
.second-faq-title .margin-b {
	margin-bottom: 10px;
}
.faq-form-wrap input {
	width: 100%;
	padding: 10px 20px;
	border: 1px solid #e9e9e9;
	margin-bottom: 30px;
}
.faq-form-wrap textarea {
	width: 100%;
	padding: 10px 20px;
	border: 1px solid #e9e9e9;
	margin-bottom: 30px;
	height: 130px;
}
.faq-form-wrap .nice-select {
	width: 100%;
	padding: 0 20px;
	border: 1px solid #e9e9e9;
	margin-bottom: 30px;
	line-height: 40px;
	height: 43px;
}
.faq-form-wrap button {
	padding: 18px 40px;
}
.accordion .card:not(:first-of-type):not(:last-of-type) {
	border-bottom: 1px solid rgba(0,0,0,.125);
}
.accordion .card:first-of-type{
	border-bottom: 1px solid rgba(0,0,0,.125);
}
/* 12. Blog */
.latest-blog-content {
	padding: 30px;
}
.latest-blog-content h4 {
	color: #444;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.4;
	margin-bottom: 15px;
}
.latest-blog-content h4 a:hover{
	color: #007bff;
}
.blog-meta span {
	font-size: 14px;
	color: #777777;
	margin-right: 10px;
}
.blog-meta span a {
	color: #007bff;
}
.read-more a {
	color: #333333;
	font-weight: 700;
	text-decoration: underline;
}
.read-more {
	margin-top: 80px;
}
.read-more a:hover {
	color: #007bff;
}
.blog-content h4 {
	font-weight: 700;
	padding-right: 30px;
}
.blog-content.stand-b h3 {
	font-size: 24px;
	color: #333;
	font-weight: 700;
	padding-right: 50px;
}
.blog-content.stand-b {
	padding: 0 30px;
	padding-bottom: 40px;
}
.blog-content.stand-b .read-more {
	margin-top: 50px;
}
.p-relative{
	position: relative;
}
.post-thumb a.play-icon img {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	margin: auto;
}
.widget {
	overflow: hidden;
	padding: 30px 25px;
	background: #fff;
}
.widget.search-bar {
	padding: 15px 30px;
}
.sidebar-blog .widget {
	margin-bottom: 30px;
}
.widget .sidebar-form {
	position: relative;
}
.widget .sidebar-form input {
	width: 100%;
	border: none;
	background: none;
}
.widget .sidebar-form button {
	position: absolute;
	background: none;
	padding: 0;
	border: none;
	right: 0;
	top: 0;
	color: #333;
}
.widget-title h3 {
	font-size: 18px;
	font-weight: 700;
	position: relative;
	margin-bottom: 20px;
}
.widget-title h3::before {
	content: "";
	position: absolute;
	height: 25px;
	width: 3px;
	background: #007bff;
	left: -25px;
	top: 0;
}
.widget-cat{}
.widget-cat li {
	display: block;
	margin-bottom: 10px;
}
.widget-cat li:hover a{color: #000}
.widget-cat li a {
	color: #666666;
	font-weight: 600;
	line-height: 26px;
}
.sidebar-rc-post li {
	margin-bottom: 20px;
}
.sidebar-rc-post li {
	display: table;
}
.sidebar-rc-post .rc-post-thumb {
	width: 90px;
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
}
.sidebar-rc-post .rc-post-content {
	display: inline-block;
	margin-left: 16px;
}
.sidebar-rc-post .rc-post-content h4 {
	font-size: 13px;
	font-weight: 700;
	color: #444444;
	margin-bottom: 10px;
}
.sidebar-rc-post .rc-post-content .post-date {
	text-transform: uppercase;
	font-size: 11px;
}
.sidebar-tag li{
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
}
.sidebar-tag li:hover a{
	background: #007bff;
	color: #fff;
}
.sidebar-tag li a {
	background: #f6f6f6;
	color: #777777;
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	line-height: 1;
	padding: 10px 15px;
	text-transform: capitalize;
	border-radius: 3px;
}
/* blog-details */
.blog-content.b-details {
	padding-bottom: 26px;
}
.blog-content.b-details blockquote {
	margin: 30px 0;
	padding: 30px;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
	padding-left: 0;
}
.blog-content.b-details blockquote p{
	font-size: 20px;
	color: #333333;
	font-weight: 600;
	font-style: italic;
	padding-left: 30px;
	border-left: 5px solid #007bff;
}
.blog-content.b-details p {
	margin: 0;
}
.blog-post-tag {
	padding-left: 30px;
}
.blog-share-icon {
	padding-right: 30px;
}
.blog-post-tag span {
	font-weight: 600;
	color: #333;
	font-family: 'Montserrat', sans-serif;
}
.blog-post-tag a {
	color: #828282;
	font-size: 14px;
}
.blog-share-icon span{
	font-weight: 600;
	color: #333;
	font-family: 'Montserrat', sans-serif;
}
.blog-share-icon a {
	color: #959595;
	font-size: 14px;
	margin-left: 10px;
}
.blog-share-icon a:hover{
	color: #007bff;
}
.prev-link {
	padding-left: 30px;
}
.prev-link > a {
	height: 35px;
	width: 35px;
	line-height: 33px;
	border-radius: 50%;
	text-align: center;
	border: 1px solid #cccccc;
	color: #666666;
	transition: .3s;
	display: inline-block;
	float: left;
}
.prev-link> a:hover{
	color: #fff;
	border: 1px solid #007bff;
	background: #007bff;;
}
.prev-link h3 {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 0;
	padding-left: 20px;
	overflow: hidden;
}
.next-link {
	padding-right: 30px;
}
.next-link> a {
	height: 35px;
	width: 35px;
	line-height: 33px;
	border-radius: 50%;
	text-align: center;
	border: 1px solid #cccccc;
	color: #666666;
	transition: .3s;
	display: inline-block;
	float: right;
}
.next-link> a:hover{
	color: #fff;
	border: 1px solid #007bff;
	background: #007bff;;
}
.next-link h3 {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 0;
	padding-right: 20px;
	overflow: hidden;
}
.border-b {
	border-bottom: 1px solid #e9e9e9;
	margin: 0 30px;
}
.author-post {
	display: table;
	background: #fff;
	padding: 40px;
}
.author-img {
	width: 130px;
	margin-right: 40px;
}
.author-post-content {
	display: table-cell;
	vertical-align: middle;
}
.author-info {
	margin-bottom: 8px;
}
.author-info h4 {
	font-size: 18px;
	font-weight: 700;
	color: #333;
	margin-bottom: 5px;
}
.author-info a {
	font-size: 11px;
	color: #959595;
	margin-right: 8px;
}
.author-post-content p {
	margin: 0;
	line-height: 25px;
}
/* comment */
.comment-title h3 {
	font-size: 18px;
	font-weight: 700;
	position: relative;
	color: #333;
	padding-left: 25px;
}
.comment-title h3::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	height: 35px;
	width: 3px;
	background: #007bff;
	transform: translateY(-50%);
}
.comment-box {
	display: table;
}
.comments-avatar {
	display: table-cell;
	vertical-align: middle;
	width: 100px;
}
.comments-avatar img{}
.comment-text {
	margin-left: 20px;
}
.comment-text p {
	margin-bottom: 10px;
}
.comment-text a {
	font-weight: 700;
	color: #333333;
}
.avatar-name {
	margin-bottom: 6px;
}
.avatar-name h4 {
	font-size: 18px;
	font-weight: 700;
	color: #333333;
	margin-bottom: 5px;
}
.avatar-name span {
	font-size: 14px;
	color: #666666;
}
.post-comment-form {
	padding-left: 30px;
	padding-right: 30px;
}
.post-comment-form input,.contact-form input {
	width: 100%;
	border: 1px solid #e9e9e9;
	padding: 10px 20px;
	background: #f7f7fd;
	margin-bottom: 20px;
}
.post-comment-form .nice-select,.contact-form .nice-select {
	width: 100%;
	border: 1px solid #e9e9e9;
	padding: 10px 20px;
	background: #f7f7fd;
	margin-bottom: 20px;
	line-height: 22px;
	height: 46px;
}
.post-comment-form textarea,.contact-form textarea {
	width: 100%;
	border: 1px solid #e9e9e9;
	padding: 10px 20px;
	background: #f7f7fd;
	margin-bottom: 20px;
	height: 120px;
}
.post-comment-form button,.contact-form button{
	padding: 15px 50px;
}
/* 13. Pagination */
.pagination {
	display: block;
	border-radius: 0;
}
.pagination ul li {
	display: inline-block;
	margin: 0 10px;
}
.pagination ul li a {
	font-size: 14px;
	color: #333333;
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
	font-family: 'Montserrat', sans-serif;
}
.pagination ul li a.active::before {
	content: "";
	top: -7px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #000;
	position: absolute;
	right: 0;
	margin: auto;
}
.pagination ul li a.active::after {
	content: "";
	bottom: -7px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #000;
	position: absolute;
	right: 0;
	margin: auto;
}
.cases-pagination li {
	display: inline-block;
	margin: 0 3px;
}
.cases-pagination li:hover a{
	background: #007bff;
	color: #fff;
}
.cases-pagination li a {
	height: 45px;
	width: 45px;
	background: #ebebeb;
	display: inline-block;
	text-align: center;
	line-height: 45px;
	border-radius: 50%;
	color: #828282;
	font-weight: 600;
	font-size: 16px;
}
.cases-pagination li .cases-active{
	background: #007bff;
	color: #fff;
}
/* page title */
.page-title-area{
	padding-top: 240px;
	padding-bottom: 150px;
	background-size: cover;
	background-position: center center;
}
.breadcrumb {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0;
	margin-bottom: 1rem;
	list-style: none;
	background: no-repeat;
	border-radius: 0;
}
.page-title h2 {
	font-size: 72px;
	font-weight: 800;
	color: #fff;
	margin-bottom: 16px;
}
.breadcrumb-item a {
	color: #007bff;
	font-size: 30px;
	line-height: 1;
}
.breadcrumb-item.active {
	color: #ddd;
	font-size: 30px;
	line-height: 1;
}
.breadcrumb li span {
	position: relative;
	height: 2px;
	width: 30px;
	display: inline-block;
	background: #fff;
	top: 3px;
	margin: 0 23px;
}
.breadcrumb li span::before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 0;
	right: 0;
	margin: auto;
	background: #fff;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
}
/* 14. CTA */
.cta-area{
	background-size: cover;
	background-position: center center;
}
.cta-text h2 {
	font-size: 48px;
	font-weight: 700;
	color: #fff;
	line-height: 1.2;
	margin: 0;
}
.cta-content span {
	font-size: 24px;
	color: #ededed;
	margin-bottom: 17px;
	display: inline-block;
}
.cta-content h3 {
	font-size: 48px;
	color: #fff;
	font-weight: 700;
	line-height: 48px;
	margin-bottom: 30px;
}
.cta-content a.cta-btn {
	border-radius: 30px;
}
.cta-content p> a {
	font-size: 15px;
	color: #ededed;
	text-decoration: underline;
	margin-left: 20px;
}
.cta-content p {
	font-size: 36px;
	color: #ededed;
	line-height: 21px;
	padding-left: 35px;
	padding-right: 20px;
	margin: 0;
	display: inline-block;
}
.about-cta {
	position: relative;
}
.about-cta .cta-content {
	position: absolute;
	right: -200px;
	width: 300px;
	top: 44px;
	background: #007bff;
	padding: 35px;
}
.about-cta .cta-content h2 {
	font-size: 26px;
	color: #fff;
	line-height: 34px;
	font-weight: 600;
	margin-bottom: 130px;
	position: relative;
}
.about-cta .cta-content h2::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: -70px;
	background: #fff;
	height: 4px;
	width: 90px;
}
.about-cta .cta-content a {
	font-size: 16px;
	color: #fff;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}
.about-cta .cta-content a i {
	font-size: 24px;
	margin-right: 10px;
	position: relative;
	top: 3px;
}
.portfolio-cta {
	background-position: center;
	background-size: cover;
	padding-left: 60px;
	padding-right: 60px;
}
.portfolio-cta h2 {
	margin: 0;
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	padding-right: 40px;
}
.portfolio-cta-btn{
	border-radius: 30px;
	margin-right: 30px;
}
.portfolio-cta p {
	margin: 0;
	display: inline-block;
	font-size: 36px;
	color: #fff;
}
.portfolio-cta p > a {
	font-size: 15px;
	color: #fff;
	margin-left: 15px;
	text-decoration: underline;
}
/* portfolio-details */
.project-status {
	background: #f7f7fd;
	padding: 55px;
}
.project-status-title h3 {
	font-size: 24px;
	font-weight: 700;
	color: #333;
	padding-bottom: 18px;
	margin-bottom: 30px;
	position: relative;
}
.project-status-title h3::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 60px;
	background: #007bff;
}
.project-status ul li {
	margin-bottom: 29px;
}
.project-status ul li:last-child{
	margin-bottom: 0;
}
.project-status ul li b {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 3px;
	display: inline-block;
	color: #333;
}
.project-status ul li span {
	display: block;
}
.project-desc h3 {
	font-size: 30px;
	font-weight: 700;
	color: #333;
	padding-bottom: 18px;
	margin-bottom: 30px;
	text-transform: uppercase;
	position: relative;
	line-height: 1;
}
.project-desc h3::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 60px;
	background: #007bff;
}
.project-desc p {
	margin-bottom: 25px;
}
/* 15. Team */
.single-team {
	position: relative;
	overflow: hidden;
}
.single-team img {
	width: 100%;
}
.single-team:hover .hover-content{
	top: 50%;
	opacity: 1;
	visibility: visible;
}
.single-team:hover::before{
	opacity: .85;
}
.single-team .hover-content {
	position: absolute;
	left: 0;
	top: 40%;
	width: 100%;
	padding: 0;
	transition: .3s;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-50%);
	padding: 0 20px;
}
.single-team::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #2a2a2a;
	z-index: 9;
	opacity: 0;
	transition: .3s;
}
.single-team .hover-content h5 {
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	margin-bottom: 3px;
}
.single-team .hover-content span {
	font-size: 13px;
	color: #fff;
	margin-bottom: 26px;
	display: inline-block;
}
.single-team .hover-content p {
	color: #fff;
	line-height: 24px;
	margin-bottom: 26px;
}
.team-social a {
	color: #fff;
	font-size: 16px;
	margin: 0 5px;
}
.team-social a:hover {
	color: #007bff;
}
/* 16. call-back area */
.call-back-content h3 {
	font-size: 30px;
	line-height: 38px;
	color: #333;
	font-weight: 600;
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 30px;
}
.call-back-content h3::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 70px;
	height: 2px;
	background: #000;
}
.call-back-content p {
	font-size: 14px;
	line-height: 32px;
	margin-bottom: 30px;
}
.call-back-content a {
	border-radius: 30px;
}
.coll-back-form {
	padding: 120px 140px;
}
.coll-back-form h2 {
	font-size: 35px;
	font-weight: 700;
	color: #fff;
	line-height: 28px;
	margin-bottom: 36px;
}
.coll-back-form input {
	height: 60px;
	width: 100%;
	border: 0;
	margin-bottom: 30px;
	padding: 0 15px;
}
.coll-back-form textarea {
	height: 225px;
	width: 100%;
	border: 0;
	margin-bottom: 30px;
	padding: 15px;
}
.coll-back-form button {
	padding: 22px 60px;
}
/* 17. Company-history */
.our-mission {
	margin-bottom: 46px;
}
.history-content h2 {
	font-size: 36px;
	font-weight: 700;
	color: #333333;
	margin-bottom: 10px;
}
.history-content p {
	font-size: 14px;
	color: #828282;
	line-height: 28px;
	padding-right: 60px;
	margin: 0;
}
.history-thumb img {
	width: 100%;
}
/* widget-social */
.facebook-bg{ background: #3b5998;}
.twitter-bg{ background: #1da1f2;}
.instagram-bg{ background: #dd4b39;}
.google-plus-bg{ background: #dd4b39;}
.pinterest-bg{ background: #bd081c;}
.dribbble-bg{ background: #ea4c89;}
.linkedin-bg{ background: #0077b5;}
.sidebar-social a {
	height: 35px;
	width: 35px;
	display: inline-block;
	text-align: center;
	line-height: 34px;
	font-size: 14px;
	color: #fff;
	border-radius: 3px;
	margin-right: 5px;
}
.sidebar-insta li {
	display: inline-block;
	margin: 4px 2px;
}
/* 18. Contact-area */
.contact-info,.contact-form {
	padding: 60px 30px;
}
.contact-title{}
.contact-title h3 {
	font-size: 24px;
	font-weight: 700;
	color: #333;
	position: relative;
	margin-bottom: 15px;
}
.contact-title h3::before {
	content: "";
	position: absolute;
	left: -30px;
	top: 0;
	background: #007bff;
	height: 30px;
	width: 3px;
}
.contact-title p {
	margin-bottom: 25px;
	line-height: 26px;
}
.contact-meta{}
.contact-meta i {
	font-size: 14px;
	color: #007bff;
	margin-right: 0;
	float: left;
	width: 30px;
}
.contact-meta span {
	overflow: hidden;
	display: block;
}
/* 19. Footer */
.footer-widget p {
	color: #d5d5d5;
	margin-bottom: 30px;
}
.subscribe-form{
	position: relative;
	width: 250px;
}
.subscribe-form input {
	width: 100%;
	height: 40px;
	background: no-repeat;
	border: 1px solid #fff;
	padding: 0 15px;
	color: #fff;
}
.subscribe-form input::-moz-placeholder,.subscribe-form input::placeholder{
	color: #bbbbbb;
}
.subscribe-form button {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	background: no-repeat;
	border: 0;
	color: #fff;
	width: 40px;
}
.footer-widget h3 {
	color: #fff;
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 30px;
}
.footer-widget .footer-link li {
	margin-bottom: 10px;
	width: 50%;
	float: left;
}
.footer-widget .footer-link li a {
	color: #d5d5d5;
	position: relative;
}
.footer-widget .footer-link li a::before {
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	width: 0;
	height: 1px;
	background: #fff;
	margin: auto;
	transition: .3s;
}
.footer-widget .footer-link li a:hover:before {
	width: 100%;
}
.contact-list li{
	margin-bottom: 10px;
	color: #d5d5d5;
}

.footer-icon span {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	margin-right: 15px;
}
.footer-icon a {
	color: #999999;
	margin-right: 10px;
}

.copyright-border{
	border-top: 1px solid #4f597c;
}
.copyright p {
	color: #d5d5d5;
	margin: 0;
}
.footer-menu{}
.footer-menu ul{}
.footer-menu ul li{display: inline-block;margin-left: 30px;}
.footer-menu ul li a{color: #d5d5d5;}

.padd-r-0{padding-right:0}